html { 
  background: url(../image/bg/fuji-sushi.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
    font-family: Lobster;
    color: white;
}
.card-panel{
  margin-top: 20px;
  
}
.gmap{
  margin-top: 50px;
}

.fb-page{
  margin-top: 120px;
}

nav {
    height: 45px;
    line-height: 45px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 45px;
    line-height: 45px;
}

nav .button-collapse i {
    height: 45px;
    line-height: 45px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 45px;
        line-height: 45px;
    }
}