/*
html { 
  background: url(../image/bg/fuji-sushi.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/




video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background: url('../image/bg/fuji-sushi.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}


/*@media screen and (max-device-width: 800px) {*/
/*  html {*/
/*    background: url(../image/bg/smbg.jpg) no-repeat center center fixed !important;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover !important;*/
    /*background-size: 100 !important;*/
/*  }*/
/*  #bgvid {*/
/*    display: none;*/
/*  }*/
/*}*/


/*
@media screen and (max-device-width: 800px) {
  #bgvid { display: none; }
  #bgvid { display: none; }
}
*/
