/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}



@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.menu-image{
  height: 80px;
  width: 80px;
}


.thumbimg{
    border-radius: 2%;
    width:250px;
}

.attribute{
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
    color:#FFFFFF;
    
}

li.itemPropertyContainer{
  width: 150px;
  height: 60px;
  text-align: left;
  float: left;
}

p.itemPropertyContainer{
  width: 130px;
  word-break: normal;
  overflow:auto;
}

h5{
  font-family: 'Lobster';
  color:#FFFFFF;
}

#dropdown1{
/*    background-color: #fff;
    margin: 0;
    display: none;
    */
    min-width: 165px; /* This will change the width  on every drop down container */
/*     max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
    */
}
.navbtn{
  min-width:165px;
}


img.logo{
  height: 45px;
}

.carousel {
max-height:600px !important;
}
.carousel-item {
max-width:1440px !important;
  
}

nav {
    height: 45px;
    line-height: 45px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 45px;
    line-height: 45px;
}

nav .button-collapse i {
    height: 45px;
    line-height: 45px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 45px;
        line-height: 45px;
    }
}

nav ul li a{
  color: gray;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background: url('../image/bg/fuji-sushi.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

nav ul li:hover {
   background-color: #212121;
}